<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header col-lg-2" style="float: left">
                        <h1 class="title">Quiz List</h1>
                        <p class="category"></p>
                    </div>
                    <div class="header col-lg-8">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" id="myInput" placeholder="Search&hellip;">
                        </div>
                    </div>
                    <div class="header col-lg-2" style="float: right">
                        <button [routerLink]="['/manager/quizzes/create']" class="btn btn-primary btn-fill pull-right">
                            <i class="pe-7s-plus"></i>  Create New Quiz
                        </button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-1">ID</th>
                                <th class="col-md-6">Name</th>
                                <th class="col-md-2">Quiz Type</th>
                                <th class="col-md-1">Level</th>
                                <th class="col-md-2" style="text-align: center">Actions</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let quiz of quizzes.slice().reverse(); index as i" id="myTable">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{quiz.name}}</td>
                                <td>{{quiz.typeQuizzes.name}}</td>
                                <td>{{quiz.level.name}}</td>
                                <td style="text-align: center">
                                    <a class="view" title="View" data-toggle="collapse" data-parent="#accordion" href="#{{i}}" (click)="getValue(quiz)" id="clickk">
                                        <i class="material-icons">&#xE417;</i>
                                        <p class="hidden-lg hidden-md">View</p>
                                    </a>

                                    <a [routerLink]="['/manager/quizzes',quiz.id]" class="edit" title="Edit" data-toggle="tooltip">
                                        <i class="material-icons">&#xE254;</i>
                                        <p class="hidden-lg hidden-md">Update</p>
                                    </a>

                                    <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteQuiz(quiz.id)">
                                        <i class="material-icons">&#xE872;</i>
                                        <p class="hidden-lg hidden-md">Delete</p>
                                    </a>
                                </td>
                            </tr>
                            <tr id="{{i}}" class="panel-collapse collapse">
                                <td colspan="6" class="panel-body text-muted">
                                    <p *ngIf="answers[0].checked == false">A. {{answers[0].name}}</p>
                                    <p *ngIf="answers[0].checked == true" style="color: green">A. {{answers[0].name}}</p>
                                    <p *ngIf="answers[1].checked == false">B. {{answers[1].name}}</p>
                                    <p *ngIf="answers[1].checked == true" style="color: green">B. {{answers[1].name}}</p>
                                    <p *ngIf="answers[2].checked == false">C. {{answers[2].name}}</p>
                                    <p *ngIf="answers[2].checked == true" style="color: green">C. {{answers[2].name}}</p>
                                    <p *ngIf="answers[3].checked == false">D. {{answers[3].name}}</p>
                                    <p *ngIf="answers[3].checked == true" style="color: green">D. {{answers[3].name}}</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
