/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 20px;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}
.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 20px;
  border-radius: 20px;
}

.card-body:hover {
  background: rgba(239, 99, 19, 0.8);
  transform: scale(1.05);

  h2 {
    color: #FFFFFF;
  }

  p {
    color: #FFFFFF;
  }
  button{
    background-color: #FFFFFF;
  }
}
