<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header col-lg-2" style="float: left">
                        <h1 class="title">Test List</h1>
                        <p class="category"></p>
                    </div>
                    <div class="header col-lg-8">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" id="myInput" placeholder="Search&hellip;">
                        </div>
                    </div>
                    <div class="header col-lg-2" style="float: right">
                        <button [routerLink]="['/manager/tests/create']" class="btn btn-primary btn-fill pull-right">
                            <i class="pe-7s-plus"></i>  Create New Test
                        </button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Level</th>
                                <th style="width: 120px; text-align: right">Pass Score</th>
                                <th style="width: 200px"></th>
                                <th>Max Time</th>
                                <th style="text-align: center">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            <tr *ngFor="let test of tests; index as i">
                                <td>{{i + 1}}</td>
                                <td><a [routerLink]="['/manager/tests',test.id]">{{test.name}}</a></td>
                                <td>{{test.level.name}}</td>
                                <td style="text-align: right">{{test.passScore}}</td>
                                <td></td>
                                <td>{{test.maxTime}}</td>
                                <td style="text-align: center">
                                    <a [routerLink]="['/manager/tests',test.id]" class="view" title="View" data-toggle="tooltip">
                                        <i class="material-icons">&#xE417;</i>
                                        <p class="hidden-lg hidden-md">View</p>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
