<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="simple-text" [routerLink]="['']">
                <img style="width: 240px;height: 65px;margin-bottom: 5px;margin-top: 5px" src="../../assets/img/logo.png"/>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a (click)="backLogin()">
                        Sign In / Sign Up
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 100px; margin: auto">
            <div class="container" id="container">

                <div class="mat-typography">
                    <h1>RESET YOUR PASSWORD</h1>
                </div>

<!--                STEPPER-->

                <mat-vertical-stepper>
                    <!--    STEP 1-->
                    <mat-step state="sendOtp" errorMessage="Error" [stepControl]="stepOne" [completed]="completedSend" label="Send OTP">
<!--                              [editable]="false">-->
                        <ng-template matStepperIcon="sendOtp">
                            <mat-icon>lock_reset</mat-icon>
                        </ng-template>

                        <form>

                            <div class="text-left">
                                <div class="panel-body">
                                    <form [formGroup]="stepOne" id="register-form" role="form" autocomplete="off" class="form" method="post">

                                        <mat-form-field appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <input [formControl]="mailFormControl" name="email" matInput placeholder="YourEmail"
                                                   [(ngModel)]="email" required
                                            formControlName="isNotEmpty">
                                            <mat-icon color="primary" matSuffix>alternate_email</mat-icon>
                                            <mat-error *ngIf="mailFormControl.hasError('required')">Mail is required!
                                            </mat-error>
                                            <mat-error *ngIf="mailFormControl.hasError('email')">Email is invalid! Ex:
                                                youremail@gmail.com
                                            </mat-error>
                                        </mat-form-field>
                                        <br>
                                        <div class="example-button-row">
                                            <button mat-raised-button color="primary" (click)="forgotPassword()">Reset Password</button>
                                            {{message}}
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </form>

                        <button mat-button matStepperNext>Next</button>
                    </mat-step>
                    <!--    STEP 2-->
                    <mat-step state="confirmOtp" errorMessage="Error" [stepControl]="stepTwo" [completed]="completedConfirm" label="Confirm OTP">
                        <ng-template matStepperIcon="confirmOtp">
                            <mat-icon>input</mat-icon>
                        </ng-template>

                        <form>

                            <div class="text-left">
                                <div class="panel-body">
                                    <form [formGroup]="stepTwo" role="form" autocomplete="off" class="form" method="post">

                                        <mat-form-field appearance="fill">
                                            <mat-label>OTP</mat-label>
                                            <input [formControl]="otpFormControl" name="otp" matInput placeholder="Your OTP"
                                                   [(ngModel)]="otp" required formControlName="isNotEmpty">
                                            <mat-icon color="primary" matSuffix>input</mat-icon>
                                            <mat-error *ngIf="otpFormControl.hasError('required')">OTP is required!
                                            </mat-error>
                                            <mat-error *ngIf="otpFormControl.hasError('maxlength')">OTP max length is 6
                                            </mat-error>
                                            <mat-error *ngIf="otpFormControl.hasError('minlength')">OTP min length is 6
                                            </mat-error>
                                        </mat-form-field>

                                        <div class="example-button-row">
                                            <button mat-raised-button color="primary" (click)="forgotPassword()">Confirm</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </form>

                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </mat-step>
                    <!--    STEP 3-->
                    <mat-step state="doneButton" errorMessage="Error" [stepControl]="stepThree" [completed]="completedDone" label="Check">
                        <ng-template matStepperIcon="doneButton">
                            <mat-icon>task_alt</mat-icon>
                        </ng-template>

                        <form>

                            <div class="text-left">
                                <div class="panel-body">
                                    <h3>Almost done,</h3>
                                    <form [formGroup]="stepThree" role="form" autocomplete="off" class="form" method="post">

                                        <h3>And this step, You reset your password successfully</h3>
                                        <h3>Now, sign in and change your password for a better experience!</h3>

                                        <button mat-fab color="primary" aria-label="login" [routerLink]="['/account']">
                                            <mat-icon>login</mat-icon>
                                        </button>

                                    </form>
                                </div>
                            </div>

                        </form>

                        <button mat-button matStepperPrevious>Back</button>

                    </mat-step>
                </mat-vertical-stepper>

<!--                END STEPPER-->

            </div>
        </div>
    </div>
</div>


