.form-gap {
  padding-top: 70px;
}

#submit-input {
  border-radius: 20px;
  border: 1px solid #ec6614;
  background-color: #f58311;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}